// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the hangman controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("back.jpg");
  padding:5px;
}
.header{
  background-color:wheat;
}
.small-panel{
  margin:0 auto;
  width:40%;
  margin-bottom:10%;
}
.panel{
  background-color:wheat;
  padding:10px;
  box-shadow: 10px 10px 5px black;
  z-index: 1;
  //  text-align: Center;
}
.panel-default h1{
  font-family:"Raleway", sans-serif;
  font-weight: bold;
  color:white;
  //  text-align:center;
}
.panel-default p{
  margin-left:8%;
  color:red;
  font-family:'Raleway',sans-serif;
  font-size:20px;
  font-weight:bold;
}
.middle-page{
  margin:0 auto;
  width:80%;
  background-color:burlywood;
  z-index:-1;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  margin-top:5%;

  //  overflow:scroll;
}
.text{
  width: 50%;
}
.footer{
  position:absolute;
  width:100%;
  bottom:0px;

}
.list
{
  list-style-type: none;
}
.footer .panel{
  background-color:wheat;
  padding:10px;
  box-shadow: 10px 10px 5px black;

  z-index: 1;
  //  text-align: Center;
}
.footer .panel-default h1{
  font-family:"Raleway", sans-serif;
  font-weight: bold;
  color:white;
  //  text-align:center;
}
.footer .panel-default p{
  margin-left:8%;
  color:red;
  font-family:'Raleway',sans-serif;
  font-size:14px;
}
.alert{
  background-color: aquamarine;
}
.error-msg{
  background-color: aquamarine;
  padding:5px;
  border-radius: 10px;
}

//admin's page

.top-bar{
  float:right;
  font-family: arial, sans-serif;
  font-size: 14px;
  color:yellow;
}
.top-bar p{
  font-family: arial, sans-serif;
  font-size: 14px;
  color:yellow;
}
.title{
  float:left;
}
.content-show{
  visibility:visible;
  margin-left:20%;
  text-align: center;
  height:470px;
  width:50%;
  overflow: auto;
//  border:2px solid yellow;

}
.content-hide{
  visibility:hidden;
}
.middleFrame{
  width:100%;
  height:600px;
}
.frames{
  background: transparent;
}
.title{
// margin:0 auto;
 width:100%;
  text-align:center;
  border:1px solid;

}
.table-content{
  text-align: center;
  margin:0 auto;
  width:50%;

}
th{

  text-align:center;
}
tr{
  line-height: 30px;
}
.table-alternate-color{
    display: table;
    margin: 0 auto;
  border:2px solid green;
  width:100%;
}
.table-alternate-color tr:nth-child(even) {
  background-color: antiquewhite;
}
.table-alternate-color tr:nth-child(odd) {
  background-color: aquamarine;
}
.sub_cat{
  width:100%;
  height:400px;
}
.sub-cat-names{
  font-family:'Andale Mono',sans-serif;
  font-size:14px;
  fon-weight:bold;
  text-align: center;
}
tr,td{
  padding:5px;
}
.Update{
  visibility:visible;
}
.Submit{
  visibility:hidden;
}
.aside{
  text-align:center;
  height:500px;
}

.section{
  text-align:center;
  height:500px;
}
.img,.game{
  width:100%;
  border:2px inset black;
}
.flash-error{
  font-family:Lato, sans-serif;
  font-size:12px;
  background-color: Red;
  color:white;
}
.invalid-word{
  font-family:Lato, sans-serif;
  font-size:12px;
  background-color: salmon;
  color:white;
}
.flash-success{
  font-family:Lato, sans-serif;
  font-size:12px;
  background-color: green;
  color:white;
}
.new-game,.formDiv{
  visibility:hidden;
}
.img,img{
  height:400px;
}
.log{
  float:right;
  border:1px solid;
  font-family:'Raleway', sans-serif;
  font-size:12px;
  padding:5px;

}
.logout{
  float:right;
  font-size:18px;
  padding-right:10px;

}
.logout a{
  color:red;
  text-decoration: underline;
}
.user p{
  float:right;
  font-size:16px;
  padding-right:10px;
  color:gray;
}
.head{
  float:left;
}
.clear{
  clear:both;
}
.game p{
  float:right;
  color:red;
  font-weght:bold;
  margin-right:10px;
  font-size:18px;
}
h2,h3{
  font-family: "Raleway",sans-serif;
  font-weight:bold;

}
.contact p{
  font-size:16px;
}